/*everything*/
* {
    font-family: 'Jua', sans-serif;
}


/*for start page*/
.start-logo {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 0;
}

.start-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: -50px;
}

.start {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; 
}

.start-btn {
    display: inline-block;
    font-size: 20px;
    padding: 10px 20px;
    background-color: #444444;
    text-decoration: none;
    color: #ffffff;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    margin-bottom: 100px;
}

@media (max-width: 768px) {
    .start-logo {
        position: relative;
        overflow: hidden;
        z-index: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .start-logo img {
        min-width: 150%;
        height: auto;
        object-fit: cover;
    }
}


/*for login page*/
.login-container {
    background-color: #222222;
    width: 500px;
    height: 700px;
    top: 50%;
    left: 50%;
    position: center;
    padding: 20px;
    margin: auto;
    border-radius: 20px;
}

.login-logo {
    text-align: center;
    margin: auto;
    display: block;
    margin-bottom: 20px;
}

.white-text {
    color: aliceblue;
    font-family: 'Jua', sans-serif;
}

#welcome-msg {
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
}

.checkbox-text {
    color: aliceblue;
    font-family: 'Jua', sans-serif;
}


.login-btn {
    float: right;
    font-family: 'Jua', sans-serif;
    border-radius: 10px;
}

