@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

/*everything*/
body {
  background-color: #f2f2f2;
}
* {
    font-family: 'Jua', sans-serif;
}

/*for top taskbar*/
header {
  background-color: #c0c0c0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-icon {
  margin-right: auto;
}

.right-icons {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 15px;
  width: 30px;
  height: 30px;
}

.no-deco {
  text-decoration: none;
  border: none;
}

/*for start page*/
.start-logo {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 0;
}

.start-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: -50px;
}

.start {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; 
}

.start-btn {
    display: inline-block;
    font-size: 20px;
    padding: 10px 20px;
    background-color: #444444;
    text-decoration: none;
    color: #ffffff;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    margin-bottom: 100px;
}

@media (max-width: 768px) {
    .start-logo {
        position: relative;
        overflow: hidden;
        z-index: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .start-logo img {
        min-width: 150%;
        height: auto;
        object-fit: cover;
    }
}


/*for login page*/
.login-container {
    background-color: #222222;
    width: 500px;
    height: 700px;
    top: 50%;
    left: 50%;
    position: center;
    padding: 20px;
    margin: auto;
    border-radius: 20px;
}

.login-logo {
    text-align: center;
    margin: auto;
    display: block;
    margin-bottom: 20px;
}

.white-text {
    color: aliceblue;
    font-family: 'Jua', sans-serif;
}

#welcome-msg {
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
}

.checkbox-text {
    color: aliceblue;
    font-family: 'Jua', sans-serif;
}


.login-btn {
    float: right;
    font-family: 'Jua', sans-serif;
    border-radius: 10px;
}




/* verlaine started here. lets write this so we dont get confused :D */

/* these are used on the money overview page */

  .flex-container > div {
    background-color: #000000;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    font-family: 'Jua'
}
  

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  }
  .flex-container2 > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 14px;
    border-radius: 15px;
    font-family: 'Jua'

  }

  .flex-container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  }


  .flex-container img{
    width: 40px;
    height: 35px;
    margin-bottom: 10px;
  }


  .addbutton{
    position: fixed;
    bottom: 50px;
    right: 50px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

  }

  .addbutton img{

    width: 80px;
    height: 80px;


  }



  /* contact page css */


  .logo img{
    width: 150px;
    height: 150px;
    display: block;
    margin-top: 100px; /* the space on top the logo */
    margin-left: auto;
    margin-right: auto;

  }

  .contacttxt{
    margin: 100px;
    text-align: center;
    margin-bottom: 7px; /* the margin between made with leapify and the icons */

  }


  .contactinfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;


  }

  .contactinfo > div {
    background-color: #f2f2f2;
    margin: 10px;
    padding: 20px;
    font-size: 14px;
    border-radius: 15px;
    font-family: 'Jua'

  }

  .contactinfo img{
    width: 40px;
    height: 35px;
    margin-bottom: 10px; /* the mail phone icon and text margin */
    justify-content: center;
   
  }


  
  .partner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 150px;
    
  }
 

  /* this part is to put the word partnership in a box */
  .partner > div {
    background-color: #000000;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    font-family: 'Jua'
}

.partnerinfo img {
  width: 180px; 
  height: auto; /
}
.partnerinfo {
  text-align: center;
  margin-bottom: 100px; /* the space below the page, after the hawk */
}
