@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

/*everything*/
body {
  background-color: #f2f2f2;
}
* {
    font-family: 'Jua', sans-serif;
}

/*for top taskbar*/
header {
  position: fixed;
  top: 0; 
  background-color: #D9D9D9;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.left-icon {
  padding-right: 1000px;
  margin-right: auto;
}

.right-icons {
  
  display: flex;
  align-items: center;
}

.icon {

  margin-right: 15px;
  width: 40px;
  height: auto;
}

.no-deco {
  text-decoration: none;
  border: none;
}

/*for start page*/
.start-logo {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 0;
}

.start-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: -50px;
}

.start {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; 
}

.start-btn {
    display: inline-block;
    font-size: 20px;
    padding: 10px 20px;
    background-color: #444444;
    text-decoration: none;
    color: #ffffff;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    margin-bottom: 100px;
}

@media (max-width: 768px) {
    .start-logo {
        position: relative;
        overflow: hidden;
        z-index: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .start-logo img {
        min-width: 150%;
        height: auto;
        object-fit: cover;
    }
}


/*for login page*/
.login-container {
    background-color: #222222;
    width: 500px;
    height: 700px;
    top: 50%;
    left: 50%;
    position: center;
    padding: 20px;
    margin: auto;
    border-radius: 20px;
}

.login-logo {
    text-align: center;
    margin: auto;
    display: block;
    margin-bottom: 20px;
    width: 100px;
    height: auto;
}

.white-text {
    color: aliceblue;
    font-family: 'Jua', sans-serif;
}

#welcome-msg {
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
}

.checkbox-text {
    color: aliceblue;
    font-family: 'Jua', sans-serif;
}


.login-btn {
    float: right;
    font-family: 'Jua', sans-serif;
    border-radius: 10px;
}




/* verlaine started here. lets write this so we dont get confused :D */

/* these are used on the money overview page */

  .flex-container > div {
    background-color: #000000;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    font-family: 'Jua';
}
  

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  }
  .flex-container2 > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 14px;
    border-radius: 15px;
    font-family: 'Jua'

  }

  .flex-container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  }


  .flex-container img{
    width: 40px;
    height: 35px;
    margin-bottom: 10px;
  }


  .addbutton{
    position: fixed;
    bottom: 50px;
    right: 50px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

  }

  .addbutton img{

    width: 80px;
    height: 80px;


  }



  /* contact page css */


  .logo img{
    width: 150px;
    height: 150px;
    display: block;
    margin-top: 150px; /* the space on top the logo */
    margin-left: auto;
    margin-right: auto;

  }

  .contacttxt{
    margin: 100px;
    text-align: center;
    margin-bottom: 7px; /* the margin between made with leapify and the icons */

  }


  .contactinfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;


  }

  .contactinfo > div {
    background-color: #f2f2f2;
    margin: 0px;
    padding: 10px;
    font-size: 14px;
    border-radius: 15px;
    font-family: 'Jua'

  }

  .contactinfo img{
    width: 40px;
    height: 35px;
    margin-bottom: 10px; /* the mail phone icon and text margin */
    justify-content: center;
   
  }


  
  .partner{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    margin-top: 150px;
    
  }
 

  /* this part is to put the word partnership in a box */
  .partner > div {
    background-color: #000000;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    font-family: 'Jua'
}

.partnerinfo img {
  width: 180px; 
  height: auto; /
}
.partnerinfo {
  text-align: center;
  margin-bottom: 100px; /* the space below the page, after the hawk */
}

/* daily login page css */

.piggy_coin_amount > div {
  background-color: white;
  margin: 10px;
  padding: 8px;
  font-size: 12px;
  border-radius: 10px;
  color: rgb(93, 91, 91);
  font-weight: bold;
  font-family: 'Jua';
  text-align: center;
  margin-bottom: 30px;
}



.piggy_coin_amount { 
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}


.piggy_coin_amount img {
  width: 20px;
  height: 18px;
  margin-bottom: 3px;
}

.daily-container > div {
  background-color: #D9D9D9;
  margin: 10px; /* this margin is between boxes */
  padding: 30px; /* increase the height of login box */
  font-size: 16px;
  border-radius: 15px;
  color: rgb(93, 91, 91);
  font-weight: bold;
  font-family: 'Jua';
  text-align: center;

}


.daily-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  
}

/* Coin icon sizing*/
.daily-container img{
  width: 20px;
  height: 15px;
  margin-bottom: 10px;
}

/* piggy pass & blackpig icon sizing*/
.img-container img{
  width: auto;
  height: 45px;
  margin-top: 2px;
  font-size: 4px;

}

/* Font sizing for the free piggy and missed a day pass */
.img-container > div  {
  font-size: 7px;

}


/* ranking page css */
/* Part 1: this part is the 3 piggys ranking*/

.rank-container > div {
  background-color: #f2f2f2;
  margin: 10px; /* this margin is between boxes */
  padding: 20px; /* increase the height of piggy flex box */
  font-size: 16px;
  border-radius: 15px;
  color: rgb(93, 91, 91);
  font-weight: bold;
  font-family: 'Jua';
  text-align: center;

}


.rank-container {  
  margin-top: 90px; /*space bewteen nav bar and the 123 stars */
  display: flex;
  flex-wrap: wrap; /* so that it goes to next line when make smaller */
  justify-content: center; /* centralise the whole flex box */
  

}
/* adjust the image inside the container */
.rank-container img{
  width: 50px; 
  height: 50px;
}

/*adjust the pig img */
.subpig-container img{
  width: 65px; 
  height: auto;
}


  
/* part 2: this part is the boxes showing the other rankers */


.user-container > div {
  background-color: #C6CBFF;
  max-width: 350px;
  margin: 30px; /* this margin is between boxes */
  padding: 21px; /* increase the height of login box */
  font-size: 22px;
  border-radius: 15px;
  color: rgb(93, 91, 91);
  font-weight: bold;
  font-family: 'Jua';
  text-align: center;

}


.user-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  
}


.user-container img{
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  padding: 7px;
}


/* profile page css*/

.pfp{
  display: block; /*align to center*/
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: auto;
  border-radius: 100%;
  margin-top: 100px; /* the space on top the logo */

}


.details{
  margin-top: 20px; /* put gap between 'Change picture text' and pfp */
  text-align: center;

}

/* details part for username and email into a box */
.details2 > a {
  background-color: #E0E0E0;
  max-width: 350px;
  margin: 20px; /* this margin is between boxes */
  padding: 21px; /* increase the height of login box */
  border-radius: 15px;
  color: rgb(93, 91, 91);
  font-family: 'Jua';
  text-align: center;

}

.details2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  
}


/* forum page css*/

.heading h2 { 
  text-align: center; /* align text to center*/
  margin-top: 160px; /* add space on top of forum */
}


.users-container > div {
  background-color: #C6CBFF;
  max-width: 350px;
  margin: 30px; /* this margin is between boxes */
  padding: 60px; /* increase the height of login box */
  font-size: 22px;
  border-radius: 15px;
  color: rgb(93, 91, 91);
  font-weight: bold;
  font-family: 'Jua';
 

}


.users-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  
}

/* adjust the user icon img */
.users-container img{
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  padding: 7px;
}
/*resize the chat icon */
.users-container .chat {
  width: 40px;
  height: auto;
}
/*resize the heart icon */
.users-container .heart {
  width: 45px;
  height: auto;
  margin-left: -10px; /* move the icon abit to the left */
 
}